@import "../../../../../../styles.scss";
section {
  @include flexBox(column, top, left, 20);
  width: 710px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  padding: 40px;
}
.addMemberPopUp {
  @include flexBox("", space-between, center, "");
  height: 40px;
}

.addEveryOrOneMember {
  @include flexBox(column, left, space-between, 20);
  width: 630px;
  height: 70px;
}

.custom-radio {
  @include flexBox("", left, center, "");
  cursor: pointer;
  position: relative;
  input[type="radio"] {
    display: none;
  }

  .radio-mark {
    @include flexBox("", center, center, "");
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #adb0d9;
    margin-right: 10px;
    transition: 0.2s ease;
  }

  .radio-mark::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #535af1;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s ease;
  }

  input[type="radio"]:checked + .radio-mark::after {
    opacity: 1;
  }

  input[type="radio"]:checked + .radio-mark {
    border-color: #535af1;
  }

  .radio-label {
    font-size: 16px;
  }
}

.OneMemberInput{
    @include flexBox("", center, center, "");
    width: 630px;
    border: 1px solid #adb0d9;
    height: 55px;
    border-radius: 30px;
    padding: 15px 20px;
    input{
        width: 600px;
        outline: none;
        border: none;
    }
}