@use "../../../shared/scss/mixins" as mixin;
@use "../../../shared/scss/variables" as vari;

.checkbox-container {
  @include mixin.dFlex($justify: flex-start, $gap: 10px);
  padding-left: clamp(0px, 0.01vw, 10px);

  > p {
    font-size: clamp(14px, 2.5vw, 18px);

    > span {
      cursor: pointer;
      font-size: clamp(14px, 2.5vw, 18px);
      color: vari.$light-blue;
      transition: color 0.2s ease;

      &:hover {
        color: vari.$dark-blue;
      }
    }
  }
}

.checkboxItem {
  @include mixin.dFlex();

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .checkbox {
    appearance: none;
    position: relative;
    width: clamp(14px, 2.5vw, 18px);
    height: clamp(14px, 2.5vw, 18px);
    border: 2px solid vari.$light-blue;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;

    &:checked::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 2px;
      width: clamp(4px, 1vw, 8px);
      height: clamp(2px, 0.5vw, 4px);
      border-bottom: 2px solid;
      border-left: 2px solid;
      border-color: vari.$light-blue;
      transform: rotate(-45deg);
    }

    &:hover {
      border-color: vari.$dark-blue;
      box-shadow: 0 0 0 5px vari.$sky-grey;
      background-color: vari.$sky-grey;

      &:checked::after {
        border-color: vari.$dark-blue;
      }
    }
  }
}
