@import '../../../../styles.scss';

:host {
  position: relative;
}

.arrow {
  position: absolute;
  top: 10px;
  left: 0;
}

form {
  @include dFlex($gap: 40px, $direction: column);

  > p {
    text-align: center;
  }
}

.checkbox-container {
  display: flex;
  gap: 5px;

  > span {
    cursor: pointer;
    color: #2796BF;
  }
}
