@use "../../../shared/scss/mixins" as mixin;
@use "../../../shared/scss/variables" as vari;

:host {
  position: relative;
}

.arrow {
  @include mixin.arrow($bg-color: vari.$sky-grey, $icon-color: vari.$purple);
}

form {
  @include mixin.dFlex($gap: clamp(12px, 2.5vw, 30px), $direction: column);

  > h1 {
    @include mixin.accHead(vari.$dark-blue);
  }

  > p {
    font-size: clamp(16px, 2.5vw, 20px);
    text-align: center;
  }
}

.input-container {
  @include mixin.errMess($text-color: vari.$rose);
}

.btn-container {
  width: 100%;
  @include mixin.dFlex($justify: flex-end);
}
