@import '../../../../../styles.scss';
header{
    width: 310px;
    margin: 0 auto;
    padding-top: 30px
}
section{
    @include flexBox('', space-between, center, '');
    height: 60px;
}
.logoText{
    @include flexBox('', left, center, 15);
    @include fontStyle(24px, black, 700);
    width: 250px;
    img{
        height: 60px;
        width: 60px;
    }
}
.squareImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;    
    position: relative;
    
}
.icon{
    width: 24px;
    height: 24px;
    color: black;
    transition: color 0.3s ease;
}
.squareImage:hover .icon{
    color: blue;
}

  