
  <div class="addInputField" (focusout)="onFocusOut($event)" 
  tabindex="0">
    @if (selectedMembers.length > 0) {
      <div class="inputNamePush">
        @for (member of selectedMembers | slice:0:displayCount; track trackById) {
          <div class="containerDelete">
            <div class="inputNameImgPush">
              <img src="{{ member.uUserImage }}" alt="{{member.uName}}" />
              <span>{{ member.uName }}</span>
            </div>
            <button class="inputNamePushClose" (click)="removeMember(member)">
              <div class="material-symbols">close</div>
            </button>
          </div>
        }
        @if (selectedMembers.length > displayCount) {
          <div class="more-count" >
            +{{ selectedMembers.length - displayCount }}
          </div>
        }
      </div>
    }
    @if (memberAddElement) {
      <ng-container></ng-container>
    }
    @else {
      @if (!memberAddElement) {
        <input
        (keyup)="onKey($event)"
        (focus)="onInputFocus()"
        [value]="searchValue"
        type="text"
        placeholder="Name eingeben">
      }
      
    }
    @if (showMember) {
      <div class="showMembers" (click)="$event.stopPropagation()">
        @for(member of filteredMembers; track trackById) {
          <button (mousedown)="toggleMember(member)" [ngClass]="{ 'selected': isSelected(member) }" class="memberItem">
          <div class="user-img-status">
            <img src="{{ member.uUserImage }}" alt="" />
            <span [ngClass]="member.uStatus ? 'online' : 'offline'"></span>
          </div>
          <h3>{{ member.uName }}</h3>
        </button>
        }
      </div>
    }
  </div>

  
