
    @if (showXLine) {
      <div class="greyxLineContainer">
        <div class="greyxLine"></div>
      </div>
    }
    <header class="addMemberHeader">
      <div>
        <h1>Leute hinzufügen</h1>
        <button class="closeIconButton" (click)="emitClose()">
          <div class="material-symbols closeIcon">close</div>
        </button>
      </div>
      @if (showInput) {
        <span class="addMemberChannel"><div class="material-symbols">tag</div> {{ channelName }}</span>
      }
    </header>
    @if (!showInput) {
        <div class="addEveryOrOneMember">
            <div class="custom-radio">
                <input type="radio" [(ngModel)]="selectedOption" name="memberOption" value="option1" id="option1"/>
                <span class="radio-mark" (click)="selectedOption = 'option1'"></span>
                <span class="radio-label"> 
                    Alle Mitglieder von 
                    <a class="devspaceElement" (click)="selectedOption = 'option1'" href="javascript:void(0)">Devspace</a>
                    hinzufügen
                </span>
              </div>
            <div class="custom-radio">
                <input type="radio" [(ngModel)]="selectedOption" name="memberOption" value="option2" id="option2">
                <span class="radio-mark" (click)="selectedOption = 'option2'"></span>
                <span class="radio-label">Bestimmte Leute hinzufügen</span>
            </div>
        </div>
    }

    @if (!showInput && selectedOption === 'option2'){
        <app-new-members-pop-up
            [channelMembers]="channelMembers"
            [memberAddElement]="memberAddElement"
            [memberInputId]="memberInputId"
            [showMember]="showMember"
            [memberInputAdd]="memberInputAdd"
            [memberInputImage]="memberInputImage"
            (memberNameAddEvent)="memberNameAdd($event.name, $event.image, $event.id)"
            (inputNameCloseEvent)="inputNameClose()"
        ></app-new-members-pop-up>
    }
    @if (showInput) {
        <app-new-members-pop-up
            [channelMembers]="channelMembers"
            [memberAddElement]="memberAddElement"
            [memberInputId]="memberInputId"
            [showMember]="showMember"
            [memberInputAdd]="memberInputAdd"
            [memberInputImage]="memberInputImage"
            (memberNameAddEvent)="memberNameAdd($event.name, $event.image, $event.id)"
            (inputNameCloseEvent)="inputNameClose()"
        ></app-new-members-pop-up>
    }
    <div  class="addNewMember">
        @if (!showInput) {
            <button 
              [class.active]="selectedOption !== 'option2' || memberInputId !== ''"
              [disabled]="selectedOption === 'option2' && memberInputId === ''"
              class="addNewMemberButton"
              (click)="createNewChannel(channelName, channelDescription)">
              Erstellen
            </button>
          }
        @else {
            <button  
            [class.active]="memberInputId !== ''"
            [disabled]="memberInputId === ''" 
            (click)="addNewChannelMember()" 
            class="addNewMemberButton">Hinzufügen
        </button>
        }
    </div>
