

    <header class="addMemberHeader">
      <div>
        <h1>Leute hinzufügen</h1>
        <button class="closeIconButton" (click)="emitClose()">
          <div class="material-symbols closeIcon">close</div>
        </button>
      </div>
      @if (showInput) {
        <span class="addMemberChannel"><div class="material-symbols">tag</div> {{ channelName }}</span>
      }
    </header>
    <div class="addInputField">
      @if (memberAddElement) {
        <div class="inputNamePush">
          <div class="inputNameImgPush">
            <img [src]="'/assets/img/' + memberInputImage" alt="" />
            <span> {{ memberInputAdd }}</span>
          </div>
          <button (click)="inputNameClose()" class="inputNamePushClose">
            <div class="material-symbols closeIcon">close</div>
          </button>
        </div>
      }
      @else {
        <input (keyup)="onKey($event)" type="text" placeholder="Name eingeben">
      }
      @if (showMember) {
        <div class="showMembers">
          @for (member of filteredMembers; track $index) {
            <button (click)="memberNameAdd(member.uName, member.uUserImage, member.uId)" class="memberItem">
              <div class="user-img-status">
                <img [src]="'/assets/img/' + member.uUserImage" alt="" />
                <span [ngClass]="member.uStatus ? 'online' : 'offline'"></span>
              </div>
              <h3>{{ member.uName }}</h3>
            </button>
          }
        </div>
      }
    </div>
    <div  class="addNewMember">
        <button  
            [class.active]="memberInputId !== ''"
            [disabled]="memberInputId === ''" 
            (click)="addNewChannelMember()" 
            class="addNewMemberButton">Hinzufügen
        </button>
    </div>
    <section>
        <div class="addMemberPopUp">
            <h1>Leute hinzufügen</h1>
            <button class="buttonIconClose"> 
                <div class="material-symbols">close</div>
            </button>
        </div>
        <div class="addEveryOrOneMember">
            <label class="custom-radio">
                <input type="radio" [(ngModel)]="selectedOption" name="memberOption" value="option1">
                <span class="radio-mark"></span>
                <span class="radio-label">Alle Mitglieder von <span>Devspace</span> hinzufügen</span>
            </label>
            <div class="OneMember">
                <label class="custom-radio">
                    <input type="radio" [(ngModel)]="selectedOption" name="memberOption" value="option2">
                    <span class="radio-mark"></span>
                    <span class="radio-label">Bestimmte Leute hinzufügen</span>
                </label>
            </div>
        </div>
        @if (selectedOption === 'option2') {
            <div class="OneMemberInput">
                <input type="text" placeholder="Name eingeben">
            </div>
           
        }
        
        <div class="createMember">
            <button class="createMemberButton">Erstellen</button>
        </div>
    </section>