@import "../../../../styles.scss";

.addMemberChannel {
  @include flexBox("", left, center, 15);
  color: #797ef3;
}

.addMemberHeader {
  @include flexBox(column, left, space-between, 5);
  height: fit-content;
  width: 100%;
  div {
    @include flexBox("", space-between, center, "");
    height: 40px;
  }
}

.closeIconButton {
  @include flexBox("", center, center, "");
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
  }
}

.closeIconButton:hover .closeIcon {
  color: #444df2;
}

.devspaceElement {
    @include fontStyle(18px, #444df2, 400);
    text-decoration: none;
    cursor: pointer;
}

.addNewMember {
  @include flexBox("", right, center, "");
  width: 100%;
  height: 50px;
}

.addNewMemberButton {
  @include flexBox("", center, center, "");
  @include fontStyle(18px, white, 700);
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #686868;

  &:hover {
    opacity: 0.8;
  }

  &.active {
    background-color: #444df2;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.custom-radio {
  @include flexBox("", left, center, 10);
  position: relative;
  width: 100%;
  input[type="radio"] {
    display: none;
  }

  .radio-mark {
    @include flexBox("", center, center, "");
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid #adb0d9;
    transition: 0.2s ease;
    cursor: pointer;
  }

  input[type="radio"]:checked + .radio-mark {
    border-color: #535af1;
  }

  .radio-mark::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #535af1;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s ease;
  }

  input[type="radio"]:checked + .radio-mark::after {
    opacity: 1;
  }

  .radio-label {
    font-size: 16px;
  }
}

.addEveryOrOneMember {
  @include flexBox(column, center, left, 20);
  width: 100%;
  height: 70px;
}

.greyxLineContainer{
  display: none;
}

@media(max-width: 600px){
  .greyxLineContainer{
    @include flexBox('', center, center, '');
    height: 6px;
    width: 100%;
  }
  .greyxLine{
    height: 6px;
    width: 60px;
    border-radius: 23px;
    background-color: #d9d9d9;
  }
}

@media(max-width: 450px){
  .addEveryOrOneMember{
    height: fit-content;
  }
 
}
