<main>
  <div class="avatar">
    <span>{{ userName }}</span>
    <img [src]="'/assets/img/' + userImage" />
  </div>
  <button class="openLogOut " (click)="toggleLogOut()"  #toggleBtn>
    <div class="arrowDownHeight material-symbols arrowDown">keyboard_arrow_down</div>
  </button>
</main>
@if (isLogOutVisible) {
  <section>
    <div class="logOut" #logOutBox>
      <button (click)="openProfil()">
        <div class=" material-symbols">account_circle</div>
        <span>Profil</span>
      </button>
      <button>
        <div class=" material-symbols">logout</div>
        <span>Log out</span>
      </button>
    </div>
  </section>
}
<div #profilWrapper>
  <app-profil
    [activeUserId]="activeUserId"
    [userImage]="userImage"
    [userName]="userName"
    [userEmail]="userEmail"
    [userStatus]="userStatus"
    #profilRef
    (close)="showProfil = false"
    size="small"
    [showButton]="false"
    *ngIf="showProfil"
  ></app-profil>
</div>
