<main>
  <div class="avatar">
    <span class="avatarNameText">{{ userName }}</span>
    <div class="userStatus">
      <app-device-visible mode="tabletBig">
          <img #tabletToggleBtn (click)="toggleImage()" [src]="'/assets/img/' + userImage" />
      </app-device-visible>
      <app-device-visible mode="desktopBig">
        <img class="normalImage" (click)="toggleImage()" [src]="'/assets/img/' + userImage" />
        <span class="normalImagePoint" [ngClass]="userStatus === 'true' || userStatus === true ? 'online' : 'offline'"></span>
      </app-device-visible>
    </div>
  </div>
  <button class="openLogOut" (click)="toggleLogOut()"  #arrowToggleBtn>
    <div class="arrowDownHeight material-symbols arrowDown">keyboard_arrow_down</div>
  </button>
</main>
@if (isLogOutVisible) {
  <section>
    <div class="popUpStyle"  [ngClass]="{ 'slide-down': animateOut }">
      <app-device-visible mode="tabletBig">
          <div class="popUpXLine"></div>
      </app-device-visible>
      <div class="logOut" #logOutBox>
        <button (click)="openProfil()">
          <div class=" material-symbols">account_circle</div>
          <span>Profil</span>
        </button>
        <button (click)="logOut()">
          <div class=" material-symbols">logout</div>
          <span>Log out</span>
        </button>
      </div>
    </div>
  </section>
}
<div #profilWrapper>
  @if (showProfil) {
    <app-profil
    [activeUserId]="activeUserId"
    [userImage]="userImage"
    [userName]="userName"
    [userEmail]="userEmail"
    [userStatus]="userStatus"
    #profilRef
    (close)="showProfil = false"
    size="small"
    [showButton]="false"
  ></app-profil>
  }
</div>
