@import '../../../../../styles.scss';

main{
    width: 300px;
    margin: 0 auto;
}
.directMessageButton{
    @include flexBox('', left, center, 15);
    width: 260px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.directMessageButton:hover .directMessage,
.directMessageButton:hover .accountCircle,
.directMessageButton:hover .showMessagesIcon
{
    color: #535AF1;
}
.directMessage{
    @include flexBox('', space-between, center, 10);
    @include fontStyle(20px, black, 700);
    img{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        
    }
}
.keyDownUser{
    @include flexBox('', center, center, '');
    width: 32px;
    height: 32px;
}
.showMessagesIcon{
    color: black;
    height: 24px;
    width: 24px;
}
section{
    @include flexBox(column, center, left, 13);
    margin-top: 25px;
    width: 300px;
}
.directUser{
    @include flexBox('', left, center, 15);
    height: 60px;
    width: 260px;
    margin-left: 44px;
    img{
       
    }
}
.greenPoint{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
    top: 32px;
    left: 38px;
}
.userImage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.activeGreenPoint{
    position: relative;
    height: 100%;
}
