<div class="message">
  <img src="/assets/img/avatar-4.png" alt="" />
  <div>
    <div>
      <h3>{{ user }}</h3>
      <h5>{{ getTimeInHours(message.mTime) }}</h5>
    </div>

    <div class="message-text">{{ message.mText }} Uhr</div>

    <div>
      <span class="reaction-field">
        <div>😉 3</div>
        <div>🎈 1</div>
        <div>🤷🏻‍♀️ 2</div>
        <img src="/assets/icons/add-reaction.svg" alt="" />
      </span>
      <h4>2 Antworten</h4>
      <h5>Letzte Antwort 14:56 Uhr</h5>
    </div>
  </div>
</div>
