<main>
    <section>
      <div class="everyContactButton">
        <h1>Gefundene Nutzer</h1>
        @if (users.length > 0) {
          <ng-container>
            <button
              *ngFor="let user of users"
              (click)="selectChat(user.uId!, 'private')"
              class="userPhoto"
            >
              <img [src]="'/assets/img/' + user.uUserImage" alt="{{ user.uName }}">
              <h3>{{ user.uName }}</h3>
            </button>
          </ng-container>
        }
        @else {
          <ng-template>
            <span>Keine Nutzer gefunden!</span>
          </ng-template>
        }
      </div>
      <div class="everyChannelButton">
        <h1>Gefundene Channels und Nutzer in Channels</h1>
        @if (channelsWithNames.length > 0) {
          <ng-container>
            <button
              *ngFor="let ch of channelsWithNames"
              (click)="selectChat(ch.cId, 'channel')"
              class="channelName"
            >
              <h3># {{ ch.cName }}</h3>
            </button>
          </ng-container>
        }
        @else {
          <ng-template>
            <span>Keine Channels gefunden!</span>
          </ng-template>
        }
      </div>
      <div class="everyChannelButton">
        <h1>Gefundene Nachrichten in Channels</h1>
        @if (matchedMessages.length > 0) {
          <ng-container>
            <button
              *ngFor="let msg of matchedMessages"
              (click)="selectChat(msg.channelId, 'channel')"
              class="messagesInChannels">
              <h3><strong>#{{ msg.channelName }}</strong>: {{ msg.mText }}</h3>
            </button>
          </ng-container>
        }
        @else {
          <ng-template>
            <span>Keine Nachrichten in Channels gefunden!</span>
          </ng-template>
        }
      </div>
      <div>
        <h1>Gefundene private Nachrichten</h1>
        @if (directMessages.length > 0) {
          <ng-container>
            <button
              *ngFor="let msg of directMessages"
              (click)="selectChat(msg.otherUserId, 'private')"
              class="messagesInChannels"
            >
              <p><strong>{{ msg.otherUserName }}</strong>: {{ msg.mText }}</p>
            </button>
          </ng-container>
        }
        @else {
          <ng-template>
            <span>Keine private Nachrichten gefunden!</span>
          </ng-template>
        }
      </div>
      <div>
        <h1>Gefundene Nachrichten in Threads</h1>
        @if (threadMessages.length > 0) {
          <ng-container>
            <button *ngFor="let msg of threadMessages" class="messagesInChannels">
              <p><strong>Thread {{ msg.threadId }}</strong>: {{ msg.mText }}</p>
            </button>
          </ng-container>
        }
        @else {
          <ng-template>
            <span>Keine Nachrichten in Threads gefunden!</span>
          </ng-template>
        }
      </div>
    </section>
  </main>
  
