@import '../../../../styles.scss';

main{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
section{
    @include flexBox("", "", center, 40);
    position: absolute;
    flex-direction: column;
    background-color: white;
    padding: 45px 40px;
    width: 500px;
    &.small {
        @include flexBox("", "", center, 40);
        height: 600px;
        top: 120px;
        right: 45px;
        border-radius: 30px 0px 30px 30px;
      }
      &.middle{
        @include flexBox("", "", center, 40);
        height: 600px;
        top: 120px;
        right: 45px;
        border-radius: 30px;
      }
      &.big {
        @include flexBox("", "", center, 45);
        top: 50%;
        right: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 700px;
        border-radius: 30px;
      }
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
header{
    @include flexBox("", space-between, center, "");
    height: 40px;
    width: 100%;
    span{
        @include fontStyle(24px, black, 700);
    }
}
.closeProfil{
    @include flexBox("", center, center, "");
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    &:hover{
        background-color: #ECEEFE;
    }
}
.closeIcon{
    height: 24px;
    width: 24px;
}
.closeProfil:hover .closeIcon{
    color: #535AF1;
}
.nameActive{
    height: 90px;
    width: 100%;
}
.nameEdit{
    @include flexBox("", space-between, center, "");
    height: 45px;
    width: 100%;
    span{
        @include fontStyle(32px, black, 700);
    }
    a{
        @include fontStyle(18px, #535AF1, 600);
        text-decoration: none;
        cursor: pointer;
    }
}
.status{
    @include flexBox("", left, center, 15);
    width: 80px;
    height: 30px;
    img{
        height: 16px;
        width: 16px;
    }
}
.statusActive{
    color:#92C83E;
}
.statusAbsent{
    color: #686868;
}
.mailAdress{
    @include flexBox(column, '', '', 15);
    height: 70px;
    width: 100%;
    div{
        @include flexBox("", left, center, 20);
        height: 30px;
        width: 200px;
        img{
            width: 30px;
            height: 30px;
        }
        span{
            @include fontStyle(20px, black, 700);
            margin: 0;
        }
    }
    span{
        @include fontStyle(18px, #1381FF, 400);
        height: 25px;
        margin-left: 50px;
    }
}
.messageArea{
    @include flexBox('', center, center, '');
    height: 50px;
    width: 100%;
}
.messageButton{
    @include flexBox('', center, center, 10);
    @include fontStyle(18px, black, 700);
    border-radius: 50px;
    height: 100%;
    width: 160px;
    padding: 12px 25px;
    background-color: #444DF2;
    color: white;
    border: none;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.editSaveButtons{
    @include flexBox('', center, center, 10);
}
.editAccountText{
    @include flexBox("", left, center, 20);
    height: 30px;
    width: 100%;
    img{
        width: 30px;
        height: 30px;
    }
    span{
        @include fontStyle(20px, black, 700);
        margin: 0;
    }
}
.editInput{
    @include flexBox(column, '', '', 15);
    height: 90px;
    width: 100%;
    input{
        @include fontStyle(18px, #686868, 500);
        width: 100%;
        height: 50px;
        border-radius: 30px;
        border: 1px solid #ADB0D9;
        padding: 15px 20px;
        
    }
}
.editButton{
    @include flexBox('', center, center, '');
    height: 50px;
    width: 140px;
    border-radius: 50px;
    padding: 12px 25px;
    cursor: pointer;
}
.stopButton{
    @include fontStyle(18px, #444DF2, 700);
    background-color: white;
    border: 1px solid #797ef3;
    &:hover{
        background-color: #444DF2;
        color: white;
    }
}
.saveButton{
    background-color: #444DF2;
    @include fontStyle(18px, white, 700);
    border: none;
    &:hover{
        opacity: 0.8;
    }
}