<section>

  <div class="chatbox-header">

    <!-- <div class="private-header">
      <img class="avatar-small" src="/assets/img/avatar-5.png" alt="" />
      <h2>Sofia Müller</h2>
    </div> -->

    <div class="channel-header">

      <a class="channel-name">
        <span>#</span>
        <h2>Entwicklerteam</h2>
        <img src="assets/icons/keyboard-arrow-down.svg" alt="arrow down" />
      </a>

      <div class="channel-members">
        <div>
          <img src="assets/img/avatar-1.png" alt="" />
          <img src="assets/img/avatar-2.png" alt="" />
          <img src="assets/img/avatar-3.png" alt="" />
          <span>3</span>
        </div>
        <img src="assets/icons/add-members-button.svg" alt="">
      </div>

    </div>

  </div>

</section>