<section>
  <div class="chatbox-header">
    @if(chatType === 'private'){
    <div class="private-header">
      <img src="/assets/img/{{ chatPartner?.uUserImage }}" alt="" />
      <!-- Funktion muss zu Alexander -->
      <h1 (click)="selectChannel('KV14uSorBJhrWW92IeDS')">
        {{ chatPartner?.uName }}
      </h1>
    </div>
    } @else if(chatType === 'channel'){
    <div class="channel-header">
      <a class="channel-name">
        <div class="material-symbols tag-icon">tag</div>
        <!-- Funktion muss zu Alexander -->
        <h1 (click)="selectPrivateChat('sEg8GcSNNZ6YWhxRs4SE')">
          {{ channelData?.cName }}
        </h1>
        <div class="material-symbols tag-icon">keyboard_arrow_down</div>
      </a>

      <div class="channel-members">
        <div>
          @for (member of channelMembers.slice(0,3); track member) {
          <img src="/assets/img/{{ member.uUserImage }}" alt="" />
          } @if (channelMembers.length > 3) {
          <div>...</div>
          }
          <span>{{ channelMembers.length }}</span>
        </div>
        <button class="icon-button">
          <img src="/assets/icons/add-members-button.svg" alt="" />
        </button>
      </div>
    </div>
    } @else if(chatType === 'thread'){
    <div class="thread-header">
      <div>
        <h1>Thread</h1>
        <a href="">
          <span>#</span>
          <span>Entwicklerteam</span>
        </a>
      </div>
      <button class="icon-button">
        <img src="/assets/icons/close-button.svg" alt="" />
      </button>
    </div>
    }
  </div>

  <div class="chatbox-messages" #scrollContainer>
    @if (chatType === 'thread') {
    <div class="thread-separator">
      <p>2 Antworten</p>
      <span></span>
    </div>
    } 
    
    @if (messages && messages.length === 0) { 
        
        @if(chatType === 'private'){
            <div class="empty-private-chat">
                <div>
                    <img src="/assets/img/{{ chatPartner?.uUserImage }}" alt="" />
                    <h1>{{ chatPartner?.uName }}</h1>
                </div>
                <p>Diese Unterhaltung findet nur Zwichen <span>&#64;{{ chatPartner?.uName }}</span> und dir statt</p>
            </div>
        } @else if(chatType === 'channel'){
            <div class="empty-channel-chat">
                <div>
                    <div class="material-symbols tag-icon">tag</div>
                    <h1>{{ channelData?.cName }}</h1>
                </div>
                <p>Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels <span>&#64;{{ channelData?.cName }}.</span></p>
            </div>
        } 

    } @else{ @for (message of messages; track message.mId; let i = $index) {
    @if (shouldShowDateSeparator(i)) {
    <div class="date-separator">
      <span></span>
      <p>{{ getDateString(message.mTime) }}</p>
      <span></span>
    </div>
    } @if (message.mSenderId === activeUserId) { }

    <app-message
      [message]="message"
      [activeUserId]="activeUserId"
      [chatType]="chatType"
    ></app-message>
    } }
  </div>


  <div class="chatbox-textfield thread-margin">


    <textarea type="text" [placeholder]="getPlaceholder()" [(ngModel)]="newMessageText" rows="2"></textarea>

    <div class="textfield-buttons">

      <div>
        <button class="icon-button">
            <div class="material-symbols">sentiment_satisfied</div>
        </button>

        <button class="icon-button">
            <div class="material-symbols">alternate_email</div>
        </button>
      </div>


      <button class="icon-button">
        <div class="material-symbols send-icon" (click)="sendMessage()">send</div>
      </button>


    </div>


  </div>



</section>
