@if (isLoading) {
<div class="loading-screen">
  <div class="material-symbols renew-icon rotating-icon">autorenew</div>
</div>
}@else {
<section>
  <div class="chatbox-header">
    @if(chatType === 'private'){
    <div class="private-header" (click)="toggleProfile(chatPartner)">
      <div class="user-img-status">
        <img src="/assets/img/{{ chatPartner?.uUserImage }}" alt="" />
        <span [ngClass]="chatPartner?.uStatus ? 'online' : 'offline'"></span>
      </div>

      <h1>
        {{ chatPartner?.uName }}
      </h1>
    </div>
    } @else if(chatType === 'channel'){
    <div class="channel-header">
      <a class="channel-name" (click)="toggleEdit()">
        <div class="material-symbols tag-icon">tag</div>
        <!-- Funktion kommt von Alexander -->
        <h1>{{ channelData?.cName }}</h1>
        <div class="material-symbols tag-icon">keyboard_arrow_down</div>
      </a>

      <div class="channel-members">
        <div (click)="toggleChannelMembers()">
          @for (member of channelMembers.slice(0,3); track member) {
          <img src="/assets/img/{{ member.uUserImage }}" alt="" />
          } @if (channelMembers.length > 3) {
          <div>...</div>
          }
          <span>{{ channelMembers.length }}</span>
        </div>

        <span class="material-symbols add-person-icon">person_add</span>
        <span (click)="removeMember()" class="material-symbols add-person-icon personIconHover">person_remove</span>
      </div>
    </div>
    } @else if(chatType === 'thread'){
    <div class="thread-header">
      <div>
        <h1>Thread</h1>
        <a href="">
          <span>#</span>
          <span>Entwicklerteam</span>
        </a>
      </div>
      <button class="icon-button">
        <img src="/assets/icons/close-button.svg" alt="" />
      </button>
    </div>
    }
  </div>

  <div class="chatbox-messages" #scrollContainer>
    @if (chatType === 'thread') {
    <div class="thread-separator">
      <p>2 Antworten</p>
      <span></span>
    </div>
    } 
    @if (messages && messages.length === 0) { 
      @if(chatType === 'private'){
      <div class="empty-private-chat">
        <div>
          <img src="/assets/img/{{ chatPartner?.uUserImage }}" alt="" />
          <h1>{{ chatPartner?.uName }}</h1>
        </div>
        <p>
          Diese Unterhaltung findet nur Zwichen
          <span>&#64;{{ chatPartner?.uName }}</span> und dir statt
        </p>
      </div>
      } @else if(chatType === 'channel'){
      <div class="empty-channel-chat">
        <div>
          <div class="material-symbols tag-icon">tag</div>
          <h1>{{ channelData?.cName }}</h1>
        </div>
        <p>
          Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
          <span>&#64;{{ channelData?.cName }}.</span>
        </p>
      </div>
      } 
    } 
    @else{ 
        @for (message of messages; track message.mId; let i = $index) {
          @if (shouldShowDateSeparator(i)) {
          <div class="date-separator">
            <span></span>
            <p>{{ getDateString(message.mTime) }}</p>
            <span></span>
          </div>
          } 

          <app-message
            [message]="message"
            [activeUserId]="activeUserId"
            [chatType]="chatType"
            (profileClick)="openUserProfil($event)"
          ></app-message>
    } }
  </div>

  <div class="chatbox-textfield thread-margin">
    @if (displaySuggestions) {

    <div class="suggestions">
      @for(user of foundUsers; track user) {
      <div (click)="insertUserSuggestion(user)">
        <div class="user-img-status">
          <img src="/assets/img/{{ user?.uUserImage }}" alt="" />
          <span [ngClass]="user?.uStatus ? 'online' : 'offline'"></span>
        </div>
        <span>{{ user?.uName }}</span>
      </div>
      } @for(channel of foundChannels; track channel) {
      <div (click)="insertChannelSuggestion(channel)">
        #{{ channel?.cName }}
      </div>
      }
    </div>

    }

    <textarea
      type="text"
      [placeholder]="getPlaceholder()"
      [(ngModel)]="newMessageText"
      #messageInput
      (input)="onTextChange($event)"
      (keydown)="handleKeyDown($event)"
      rows="2"
    ></textarea>

    <div class="textfield-buttons">
      <div>
        <button class="icon-button blue-hover">
          <div class="material-symbols textfield-icon">sentiment_satisfied</div>
        </button>

        <button class="icon-button blue-hover" (click)="openUserSuggestions()">
          <div class="material-symbols textfield-icon">alternate_email</div>
        </button>
      </div>

      <button class="icon-button">
        <div class="material-symbols send-icon" (click)="sendMessage()">
          send
        </div>
      </button>
    </div>
  </div>

  @if (isEditChannelOpen) {
  <app-channel-leave
    [channelData]="channelData"
    (close)="toggleEdit()"
  ></app-channel-leave>
  } 
  @if (isProfilOpen) {
  <app-profil
    [activeUserId]="activeUserId"
    [userImage]="userProfil?.uUserImage"
    [userName]="userProfil?.uName"
    [userEmail]="userProfil?.uEmail"
    [userStatus]="userProfil?.uStatus"
    #profilRef
    size="big"
    [showButton]="activeUserId !== userProfil?.uId"
    (close)="toggleProfile(null)"
  ></app-profil>
  } 
  @if (isChannelMemberOpen) {
  <app-channel-members
    [channelName]="channelData?.cName"
    [channelMembers]="channelMembers"
    [activeUserId]="activeUserId"
    [channelId]="channelData?.cId"
    (close)="toggleChannelMembers()"
  ></app-channel-members>
  }
</section>
}
