@import '../../../../../../styles.scss';
main{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100%;
    z-index: 30;
}
section{
    @include flexBox(column, top, left, 20);
    width: 870px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    padding: 40px;
}
header{
    @include flexBox(column, '', '', 20);
}
.headlineClose{
    @include flexBox('', space-between, center, '');
    width: 800px;
    height: 40px;
    span{
        @include fontStyle(24px, black, 700);
    }
}
.closeButton{
    @include flexBox('', center, center, '');
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: #ECEEFE;
    }
}
.closeButton:hover img{
    background-color: #ECEEFE;
}
.closeButton:hover div{
    color: #535AF1;
}
.addChannelText{
    @include fontStyle(18px, black, 400);
    height: 50px;
    width: 800px;
}
.channelFields{
    @include flexBox(column, space-between, '', '');
    height: 105px;
    width: 800px;
}
.channelField{
    @include fontStyle(18px, black, 700);
}
.channelFieldOptional{
    @include fontStyle(18px, #686868, 400);
    margin-left: 4px
}
.inputSpan{
    @include flexBox('', '', center, 15);
    padding: 18px 20px;
    width: 800px;
    height: 60px;
    border-radius: 40px;
    border: 1px solid #ADB0D9;
    input{
        height: 25px;
        width: 800px;
        border: none;
        outline: none;
    }
    &:focus-within {
        border: 1px solid blue;
    }
}
input::placeholder{
    @include fontStyle(18px, #686868, 400);
}
.channelTextArea{
    padding: 18px 20px;
    width: 800px;
    height: 60px;
    border-radius: 40px;
    border: 1px solid #ADB0D9;
    textarea{
        height: 25px;
        width: 100%;
        border: none;
        outline: none;
        resize: none;
    }
    &:focus-within {
        border: 1px solid blue;
    }
}
textarea::placeholder{
    @include fontStyle(18px, #686868, 400);
}
textarea::-webkit-scrollbar {
    width: 8px;
}  
textarea::-webkit-scrollbar-thumb {
  background-color: #ECEEFE;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-track {
  background: white;
}
.addChannel{
    @include flexBox('', right, center, '');
    height: 50px;
    width: 800px;
}
.addChannelButton{
    @include fontStyle(18px, white, 700);
    height: 50px;
    width: 130px;
    background-color: #444DF2;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
@media(max-width: 1000px){
    section{
        width: 90%;
    }
    .addChannelText{
        width: 100%;
        height: fit-content;
    }
    .addChannel,
    .channelTextArea,
    .inputSpan,
    .channelFields,
    .headlineClose{
        width: 100%;
    }
}
@media(max-width: 600px){
    section{
        width: 100%;
        height: 100%;
        padding: 40px 24px;
        border-radius: 0px;
    }
}
@media(max-width: 600px){
    section{
        padding: 40px 16px;
    }
}