@import '../../../../styles.scss';
main{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100%;
    z-index: 30;
}
section{
    @include flexBox(column, space-between, '', '');
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    height: 620px;
    width: 870px;
    border-radius: 0 30px 30px 30px;
    padding: 40px;
}
header{
    @include flexBox('', space-between, center, '');
    height: 40px;
    width: 100%;
    div{
        @include flexBox('', left, center, 15);
        height: 100%;
        width: 220px;
        img{
            height: 30px;
            width: 30px;
        }
    }
}
.channelHashtagName{
    @include flexBox('', left, center, 10);
    width:auto;
    img{
        height: 24px;
        width: 24px;
    }
    span{
        @include fontStyle(18px, black, 400);
    }
}
.closeChannelLeave{
    @include flexBox('', center, center, '');
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    img{
        height: 24px;
        width: 24px;
    }
    &:hover{
        background-color: #ECEEFE;
    }
}
.nameBox{
    @include flexBox(column, space-between, '', '');
    height: 110px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    padding: 20px;
}
.boxEdit{
    @include flexBox('', space-between, center, '');
    height: 25px;
    a{
        @include fontStyle(18px, #535AF1, 600);
        text-decoration: none;
        cursor: pointer;
    }
}
.descriptionBox{
    @include flexBox(column, '', '', 25);
    height: 280px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
}
.descriptionText{
    @include flexBox(column, space-between, '', 20);
}
.xLine{
    width: 100%;
    border: 1px solid #ADB0D9;
}
.userCreator{
    @include flexBox(column, space-between, '', '');
    height: 80px;
    width: 100%;
    span{
        @include fontStyle(24px, #535AF1, 400);
    }
}
.channelLeaveButton{
    @include flexBox('', end, center, '');
    width: 100%;
    height: 50px;
    button{
        @include fontStyle(18px, white, 700);
        border-radius: 25px;
        width: 200px;
        height: 100%;
        background-color: #444DF2;
        border: none;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}