@import "../../../../styles.scss";
main{
  @include flexBox(column, top, left, 25);
    height: 100%;
    background-color: white;
    width: 366px;
    border-radius: 30px;
    padding: 0 30px;
}



