@import "../../../../styles.scss";
main{
    @include flexBox(column, top, left, 25);
    height: 100%;
    background-color: white;
    width: 370px;
    border-radius: 30px;
}
.toogleBar{
    @include flexBox('', center, left, '');
    width: 60px;
    height: 350px;
    position: absolute;
    top: 480px;
    left: 0;
    background-color: white;
    z-index: 20;
    border: none;
    border-radius: 0 30px 30px 0;
    box-shadow: 4px 4px 7px 0px #00000033;
    color: black;
    cursor: pointer;
    span{
        @include fontStyle(20px, black, 500);
        background-color: white;
        display: inline-block; 
        white-space: nowrap;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%) rotate(270deg);
    }
    &:hover span{
      color: blue;
    }
}
.imageChange img {
  margin-top: 24px;
  position: relative;
  z-index: 40;
  width: 32px;
  height: 32px;
  color: black;
  transition: color 0.3s ease;
}

