@use "../../../shared/scss/mixins" as mixin;
@use "../../../shared/scss/variables" as vari;

:host {
  position: relative;
}

.arrow {
  @include mixin.arrow($bg-color: vari.$sky-grey, $icon-color: vari.$purple);
}

form {
  @include mixin.dFlex($gap: 40px, $direction: column);

  > h1 {
    @include mixin.accHead(vari.$dark-blue);
  }
}

.btn-container {
  width: 100%;
  @include mixin.dFlex($justify: flex-end);
}

.input-container {
  @include mixin.errMess($text-color: vari.$rose);
}

.mismatch {
  bottom: -35px !important;
}
