<main (click)="onMainClick($event)">
  @if (newChannelMembers) {
    <div class="memberAdd" #memberAddWrapper>
      <app-add-new-members     
        [channelMembers]="channelMembers"
        [activeUserId]="activeUserId"
        [channelId]="channelId"
        [channelName]="channelName"
        (close)="closeChannelMembers()"
        [showInput]="true" 
      ></app-add-new-members>
    </div>
  }
  @else {
    <section #channelWrapper>
      <div class="memberlist-header">
        <h1>Mitglieder</h1>
        <div class="material-symbols" (click)="closeChannelMembers()">close</div>
      </div>
  
      <div class="memberlist">
        <div class="members">
          @for (member of channelMembers; track member) {
          <div (click)="toggleMemberProfil(member)">
            <div class="user-img-status">
              <img src="/assets/img/{{ member?.uUserImage }}" alt="" />
              <span [ngClass]="member?.uStatus ? 'online' : 'offline'"></span>
            </div>
            <span>{{ member?.uName }}</span>
          </div>
  
          }
        </div>
        <div class="add-member" (click)="addChannelMember(channelId)">
          <div class="material-symbols add-person-icon">person_add</div>
          <span>Mitglieder hinzufügen</span>
        </div>
      </div>
    </section>
  }

</main>

@if (isChannelMemberProfilOpen) {
    <app-profil
      [activeUserId]="activeUserId"
      [userImage]="activChannelMemberProfil?.uUserImage"
      [userName]="activChannelMemberProfil?.uName"
      [userEmail]="activChannelMemberProfil?.uEmail"
      [userStatus]="activChannelMemberProfil?.uStatus"
      #profilRef
      size="big"
      [showButton]="true"
      (close)="toggleMemberProfil()"
    ></app-profil>
    } 
