@use '../../../shared/scss/mixins' as mixin;
@use '../../../shared/scss/variables' as vari;

form {
  @include mixin.dFlex($gap: 30px, $direction: column);

  > h1 {
    @include mixin.accHead(vari.$dark-blue);
  }

  > p {
    font-size: 20px;
    text-align: center;
  }

  > span {
    cursor: pointer;
    color: vari.$light-blue;
    padding: 5px 15px;

    &:hover {
      color: vari.$dark-blue;
      background-color: vari.$input-background;
      border-radius: 30px;
    }
  }
}

.or-container {
  @include mixin.dFlex($align: normal);
  width: 100%;
  position: relative;

  > span {
    position: relative;
    z-index: 5;
    padding: 0 15px;
    background-color: #ffffff;
  }

  &::before {
    content: "";
    background-color: #ADB0D9;
    height: 1px;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    z-index: 1;
  }
}

.btn-container {
  @include mixin.dFlex($gap: 30px);
}