<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Anmeldung</h1>
  <p>
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.
  </p>
  <label for="email">
    <input
      type="email"
      name="email"
      id="email"
      formControlName="email"
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
    />
  </label>
  <label for="password">
    <input
      type="password"
      name="password"
      id="password"
      formControlName="password"
    />
  </label>
  <span (click)="changeComponent('conMail')">Passwort vergessen?</span>
  <div class="or-container">
    <span> ODER </span>
  </div>
  <button type="button">Anmelden mit Google</button>
  <div class="btn-container">
    <app-button type="submit" [disabled]="loginForm.invalid">Anmelden</app-button>
    <app-button>Gäste-Login</app-button>
  </div>
</form>
