:host {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

.or-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;

  > span {
    position: relative;
    z-index: 5;
    padding: 0 15px;
    background-color: #ffffff;
  }

  &::before {
    content: "";
    background-color: #ADB0D9;
    height: 1px;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    z-index: 1;
  }
}

.btn-container {
  display: flex;
  gap: 30px;
}