main{
    width: 900px;
    position: relative;
    height: 100%;
    border-radius: 42px;
    border: none;
    z-index: 1;
}
:host {
  height: 100%;
}
.searchButton{
    position: absolute;
    border: none;
    right: 45px;
    top: 17.5px;
    background-color: white;
    z-index: 3;
    cursor: pointer;
    >img{
        height: 35px;
        width: 35px;
        background-color: white;
    }
}
input{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0px;
    font-size: 24px;
    width: 900px;
    padding: 17.5px 45px;
    border-radius: 42px;
    background-color: white;
    border: none;
    z-index: 2;
}
input:focus{
    outline: 2px solid blue;
}