@import '../../../../../styles.scss';
main{
    width: 300px;
    margin: 0 auto;
}
header{
    @include flexBox('', space-between, center, '');
    margin-top: 25px;
    height: 46px;
    width: 100%;
}
.showChannels{
    @include flexBox('', center, center, '');
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    
    img{
        height: 24px;
    }
}
.channelHeadShow{
    all: unset;
    @include flexBox('', left, center, 15);
    width: 180px;
    height: 40px;
}
.workSpaceText{
    @include flexBox('', left, center, 10);
    @include fontStyle(20px, black, 700);
    img{
        height: 24px;
        width: 24px;
    }
}
.addButton{
    @include flexBox('', center, center, '');
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    img{
        height: 24px;
        width: 24px;
    }
    &:hover{
        background-color: #ECEEFE;
    }
}
section{
    @include flexBox(column, center, left, 25);
    width: 310px;
}
.addChannel{
    @include flexBox('', center, center, 10);
    width: 220px;
    height: 32px;
    margin-left: 32px;
    background-color: white;
    border: none;
    cursor: pointer;
    img{
        height: 20px;
        width: 20px;
        border: 1px solid black;
        border-radius: 50%;
    }
    span{
        @include fontStyle(18px, black, 400);
    }
}
.addChannel:hover span{
    color: #535AF1;
}
.everyChannel{
    @include flexBox('', left, center, 15);
    height: 35px;
    margin-left: 25px;
    width: 275px;
    padding: 0 20px;
    border-radius: 20px;
    cursor: pointer;
    span{
        @include fontStyle(18px, black, 700);
    }
    &:hover{
        background-color: #ECEEFE;
    }
}
.everyChannel:hover span{
    color: #535AF1;
}
.tagImage{
    @include flexBox('', center, center, '');
    img{
        height: 24px;
        width: 24px;
    }
}
.newChannels{
    @include flexBox(column, '', '', 25);
    margin-top: 25px;
}