<main>
    <header>
        <button class="channelHeadShow">
            <button class="showChannels">
                <img src="/assets/img/arrowDown.png">
            </button>
            <div class="workSpaceText">
                <img src="/assets/img/workspaces.png">
                <span>Channels</span>
            </div>
        </button>
        <button class="addButton">
            <img src="/assets/img/add.png">
        </button>
    </header>
    <section>
        <div class="newChannels">

        </div>
        <button class="addChannel">
            <img src="/assets/img/add.png">
            <span>Channel hinzufügen</span>
        </button>

    </section>
</main>
