* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(236, 238, 254);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  color: #444df2;
  font-size: 18px;
  font-weight: 400;
}

h5 {
  color: #686868;
  font-size: 14px;
  font-weight: 400;
}

@mixin fontStyle($size, $fontColor, $fontWeight) {
  font-size: $size;
  color: $fontColor;
  font-weight: $fontWeight;
}
@mixin flexBox($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap + px;
}
@mixin dFlex($justify: center, $align: center, $gap: 0px, $direction: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;

  @if $direction !=null {
    flex-direction: $direction;
  }
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/nunito-v26-latin-200.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("/assets/font/nunito-v26-latin-200italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/nunito-v26-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("/assets/font/nunito-v26-latin-300italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/nunito-v26-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/font/nunito-v26-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/nunito-v26-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  src: url("/assets/font/nunito-v26-latin-500italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/nunito-v26-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/font/nunito-v26-latin-600italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/nunito-v26-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/font/nunito-v26-latin-700italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/nunito-v26-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("/assets/font/nunito-v26-latin-800italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/nunito-v26-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/font/nunito-v26-latin-900italic.woff2") format("woff2");
}

/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/figtree-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/font/figtree-v7-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.font-figtree {
  font-family: 'Figtree';
}

@font-face {
  font-family: 'MaterialSymbols';
  font-style: normal;
  src: url('/assets/font/MaterialSymbolsRounded.woff2') format('woff');
}

.material-symbols{
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-family: 'MaterialSymbols';
  font-size: 24px;
  border-radius: 50%;
  @include flexBox(row, center, center, 0);
}
