section{
    width: 100svw;
    height: 100svh;
    overflow-y: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

app-header{
    width: 100%;
    height: 105px;
}

.content-container{
    flex: 1;
    display: flex;
    gap: 20px;
    app-contact-bar{
        width: 366px;
    }

    app-message-area{
        flex: 1;
    }
}