<section>
  <app-header [activeUserId]="activeUserId"></app-header>
  <div class="content-container">
    <button class="toogleBar" (click)="toggleSection()">
      <div>
        @if (sectionVisible) {
          <span>Workspace-Menü schließen</span>
        }
        @else {
          <span>Workspace-Menü öffnen</span>
        }
      </div>
      <div class="imageChange" *ngIf="sectionVisible">
        <div class="material-symbols closeIcon">left_panel_close</div>
      </div>
      <div class="imageChange" *ngIf="!sectionVisible">
        <div class="material-symbols closeIcon">left_panel_open</div>
      </div>
    </button>

    <app-contact-bar
      *ngIf="sectionVisible"
      [sectionVisible]="sectionVisible"
      [activeUserId]="activeUserId"
      (toggle)="toggleSection()"
      (openChat)="handleOpenChat($event)"
    ></app-contact-bar>
    
    <app-message-area
      class="chat-message-area"
      [chatType]="chatType"
      [chatId]="chatId"
      [activeUserId]="activeUserId" 
    >
    </app-message-area>

    @if (isThreadOpen) {
    <app-message-area
    class="thread-message-area"
    [chatType]="'thread'"
    [chatId]="threadId"
    [activeUserId]="activeUserId"
    >
    </app-message-area>
    }

  </div>
</section>

