@use "../../../shared/scss/mixins" as mixin;
@use "../../../shared/scss/variables" as vari;

:host {
  position: relative;
  @include mixin.dFlex($gap: 25px, $direction: column);
}

.arrow {
  @include mixin.arrow(
    $bg-color: vari.$sky-grey,
    $icon-color: vari.$purple
  );
}

h1 {
  @include mixin.accHead(vari.$dark-blue);
  padding-bottom: 30px;
}

.img-contaier {
  background-color: vari.$light-blue;
  border-radius: 50%;
  padding: 40px 40px 34px 40px;
}

.selected-avatar {
  height: 172px;
  border-radius: 50%;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

span {
  width: 100%;
  padding-left: 10px;
}

.avatar-container {
  display: flex;
  gap: 12px;

  > img {
    width: 69px;
    height: 69px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: border-color 0.3s ease;

    &:hover {
      border: 5px solid vari.$gainsboro;
    }
  }

  > img.selected {
    border: 5px solid vari.$sky-grey;
  }
}

.btn-container {
  width: 100%;
  padding-right: 10px;
  @include mixin.dFlex($justify: flex-end);
}
